* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(180deg, rgba(0,150,136,1) 15%, rgba(216,219,213,1) 15%);
    width: 100%;
    height: 100vh;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container-central {
    height: 95vh;
    width: 1500px;
    background-color: #fff;
    margin: auto;
}

.col-left {
    width: 25%;
    border: 1px solid black;
}

.col-rigth {
    width: 65%;
    border: 1px solid black;

}


.slot-user, .slot-actual-user {
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slot-user img {
    height: 50px;
    margin: 10px;
    border-radius: 50%;
}

.slot-user span {
    font-weight: 600;
    display: inline-block;
}

.icons {
    color: #b1b1b1;
    display: inline-block;
    font-size: 25px;
    margin-right: 15px;
}

.icons i {
    margin: 5px;
}

.user {
    display: flex;
    align-items: center ;
}

.slot-notifications {
    background-color: #8edafc;
    display: flex;
    align-items: center;
}

.slot-notifications .fa-bell-slash {
    color: #8edafc;
    background-color: #fff;
    font-size: 25px;
    border-radius: 50%;
    margin: 15px 5px 15px 15px;
    padding: 10px 9px;
}

.slot-search-user {
    background-color: #fafafa;
}

.slot-search-user input{
    width: calc(100% - 10px);
    margin: 5px;
    padding: 10px;
    border: 1px solid #e9ebeb;
}

.slot-search-user .fa-search{
    
}

.single-user {
    display: flex;
    padding: 10px 10px 8px;
    border-bottom: 1px solid #e9ebeb;
}

.single-user img {
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.name-user {
    font-weight: 600;
}