* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(180deg, rgba(0,150,136,1) 15%, rgba(216,219,213,1) 15%);
    width: 100%;
    height: 100vh;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-central {
    height: 95vh;
    width: 1500px;
    background-color: #fff;
    margin: auto;
}

.slot-user {
    width: calc(100% - 65%);
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slot-user img {
    height: 50px;
    margin: 10px;
    border-radius: 50%;
}

.slot-user p {
    font-weight: 600;
    display: inline-block;
}

.icons {
    color: #b1b1b1;
    display: inline-block;
    font-size: 25px;
    margin-right: 15px;
}

.icons i {
    margin: 5px;
}